KeyValueStorage/App/Connected Services/Broker1/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Broker" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetTcpBinding_IBroker_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1">
        </msb:BinaryEncoding>
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <msf:WindowsTransportSecurity xmlns:msf="http://schemas.microsoft.com/ws/2006/05/framing/policy">
                  <msf:ProtectionLevel>EncryptAndSign</msf:ProtectionLevel>
                </msf:WindowsTransportSecurity>
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256>
                </sp:Basic256>
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict>
                </sp:Strict>
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
        <wsaw:UsingAddressing>
        </wsaw:UsingAddressing>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/Broker" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IBroker_StoreData_InputMessage">
    <wsdl:part name="parameters" element="tns:StoreData" />
  </wsdl:message>
  <wsdl:message name="IBroker_StoreData_OutputMessage">
    <wsdl:part name="parameters" element="tns:StoreDataResponse" />
  </wsdl:message>
  <wsdl:message name="IBroker_StoreData_BrokerExceptionFaultContractFault_FaultMessage">
    <wsdl:part xmlns:q1="http://schemas.datacontract.org/2004/07/Broker" name="detail" element="q1:BrokerExceptionFaultContract" />
  </wsdl:message>
  <wsdl:message name="IBroker_RetrieveData_InputMessage">
    <wsdl:part name="parameters" element="tns:RetrieveData" />
  </wsdl:message>
  <wsdl:message name="IBroker_RetrieveData_OutputMessage">
    <wsdl:part name="parameters" element="tns:RetrieveDataResponse" />
  </wsdl:message>
  <wsdl:message name="IBroker_RetrieveData_BrokerExceptionFaultContractFault_FaultMessage">
    <wsdl:part xmlns:q2="http://schemas.datacontract.org/2004/07/Broker" name="detail" element="q2:BrokerExceptionFaultContract" />
  </wsdl:message>
  <wsdl:message name="IBroker_DeleteData_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteData" />
  </wsdl:message>
  <wsdl:message name="IBroker_DeleteData_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteDataResponse" />
  </wsdl:message>
  <wsdl:message name="IBroker_DeleteData_BrokerExceptionFaultContractFault_FaultMessage">
    <wsdl:part xmlns:q3="http://schemas.datacontract.org/2004/07/Broker" name="detail" element="q3:BrokerExceptionFaultContract" />
  </wsdl:message>
  <wsdl:portType name="IBroker">
    <wsdl:operation name="StoreData">
      <wsdl:input wsaw:Action="http://tempuri.org/IBroker/StoreData" message="tns:IBroker_StoreData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBroker/StoreDataResponse" message="tns:IBroker_StoreData_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IBroker/StoreDataBrokerExceptionFaultContractFault" name="BrokerExceptionFaultContractFault" message="tns:IBroker_StoreData_BrokerExceptionFaultContractFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="RetrieveData">
      <wsdl:input wsaw:Action="http://tempuri.org/IBroker/RetrieveData" message="tns:IBroker_RetrieveData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBroker/RetrieveDataResponse" message="tns:IBroker_RetrieveData_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IBroker/RetrieveDataBrokerExceptionFaultContractFault" name="BrokerExceptionFaultContractFault" message="tns:IBroker_RetrieveData_BrokerExceptionFaultContractFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteData">
      <wsdl:input wsaw:Action="http://tempuri.org/IBroker/DeleteData" message="tns:IBroker_DeleteData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBroker/DeleteDataResponse" message="tns:IBroker_DeleteData_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IBroker/DeleteDataBrokerExceptionFaultContractFault" name="BrokerExceptionFaultContractFault" message="tns:IBroker_DeleteData_BrokerExceptionFaultContractFault_FaultMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NetTcpBinding_IBroker" type="tns:IBroker">
    <wsp:PolicyReference URI="#NetTcpBinding_IBroker_policy">
    </wsp:PolicyReference>
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="StoreData">
      <soap12:operation soapAction="http://tempuri.org/IBroker/StoreData" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="BrokerExceptionFaultContractFault">
        <soap12:fault use="literal" name="BrokerExceptionFaultContractFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="RetrieveData">
      <soap12:operation soapAction="http://tempuri.org/IBroker/RetrieveData" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="BrokerExceptionFaultContractFault">
        <soap12:fault use="literal" name="BrokerExceptionFaultContractFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="DeleteData">
      <soap12:operation soapAction="http://tempuri.org/IBroker/DeleteData" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="BrokerExceptionFaultContractFault">
        <soap12:fault use="literal" name="BrokerExceptionFaultContractFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Broker">
    <wsdl:port name="NetTcpBinding_IBroker" binding="tns:NetTcpBinding_IBroker">
      <soap12:address location="net.tcp://localhost:7000/Design_Time_Addresses/Broker/Service/" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:7000/Design_Time_Addresses/Broker/Service/</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Dns>localhost</Dns>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>